{% extends "dashboard/layout.html" %}
{% load static %}
{% load to_price %}
{% load to_persian_date %}
{% block contents %}

<div class="row" id="word_app">

  {% if word %}
  <div class="col-lg-12 col-md-12 col-sm-12">
    {% include 'dic/partials/word.html' %}
  </div>
  {% endif %}


  <div class="col-lg-12 col-md-12 col-12" v-for="definition in definitions">
    <def-comp :definition="definition">

    </def-comp>
  </div>


  {% if new_definition_form %}

  <div class="col-lg-12 col-md-12 col-sm-12">
    <form id="add_definition_form" action="{% url 'data:new_definition_api' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="word_id" value="{{word.id}}">
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">

          <p class="card-category" style="font-size: 0.75em !important;">
            &nbsp;
          </p>
          <p class="text-muted my-0" style="font-size: 1em !important;">
            <input v-model="new_definition.definition" type="text" maxlength="1000" required placeholder="تعریف جدید"
              class="form-control" name="definition">
          </p>

        </div>
        <div class="card-footer" style="border-top:none !important;">

          <div class="stats">



            <button type="submit" class="btn btn-primary">افزودن تعریف</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  {% endif %}

</div>
{% endblock %}
{% block scripts %}




<script>
  var csrfff = ''
  function add_like_for_some_definition(definition_id, definition) {
    var posting = $.post("{% url 'data:add_like_api' %}", { csrfmiddlewaretoken: csrfff, definition_id: definition_id });

    // Put the results in a div
    return posting.done(function (data) {
      word_app.changeDef(data.definition)
      definition.get_likes = data.definition.get_likes
    });

  }
  function add_dislike_for_some_definition(definition_id, definition) {
    var posting = $.post("{% url 'data:add_dislike_api' %}", { csrfmiddlewaretoken: csrfff, definition_id: definition_id });

    // Put the results in a div
    return posting.done(function (data) {
      word_app.changeDef(data.definition)
      definition.get_likes = data.definition.get_likes

    });

  }
  // $("#dashboard-link").addClass("active");
  {% verbatim %}
  let def_comp = Vue.component('def-comp', {
    data: function () {
      return {
        get_likes: 0,
        somevar: {},

      };
    },
    watch: {
      definition: function (newVal) {
        this.somevar = newVal

      }
    },
    methods: {
      add_like: function () {
        add_like_for_some_definition(this.definition.id, this.definition)

      },
      add_dislike: function () {
        add_dislike_for_some_definition(this.definition.id, this.definition)

      }
    },
    props: ['definition'],
    template: `

    <div class="card card-stats" >
    <div class="card-header card-header-warning card-header-icon">

      <p class="card-category" style="font-size: 0.75em !important;">
        &nbsp;
      </p> 
      <p v-html="definition.with_links" class="text-muted my-0"  style="font-size: 1em !important;">
       

      
        

      </p>

    </div>
    <div class="card-footer">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" @click="add_like" class="btn btn-success btn-sm">
          <i class="material-icons">thumb_up</i>
        </button>
        <button class="btn btn-secondary">
         {{definition.get_likes}}
        </button>
        <button type="button" @click="add_dislike" class="btn btn-danger btn-sm">
          <i class="material-icons">thumb_down</i>
        </button>
      </div>
      <div class="stats">



        <p class="card-category">



          <a :href="definition.profile.get_absolute_url">


            <img class="" height="24px" width="24px" style="border-radius: 50px;" :src="definition.profile.get_image"
              alt="">


          </a>



          <span style="font-size: 0.75em !important;">
            
            {{definition.get_date_added }}
           

          </span>



        </p>
      </div>
    </div>
  </div> 
  `
  });
  {% endverbatim %}
  let word_app = new Vue({
    el: "#word_app",
    data: {
      csrfff: '',
      word: {},
      students: [{ name: 'mohammad', age: 20 }, { name: 'ali', age: 21 }, { name: 'hossein', age: 24 },],
      definitions: [],
      new_definition: {},
    },
    methods: {
      changeDef: function (sel_def) {
        for (var i in word_app.definitions) {
          if (this.definitions[i].id == sel_def.id) {
            this.definitions[i] = sel_def;
            break; //Stop this loop, we found it!
          }
        }
      },
      add_definition_form: function (event) {
        event.preventDefault();
        this.new_definition = {
          definition: this.new_definition.definition,
          word_id: this.word.id,
          profile: { name: '{{current_profile.name}}', get_image: '{{current_profile.get_image}}' }

        };
        this.definitions.push(this.new_definition);
        // Stop form from submitting normally

        // Get some values from elements on the page:
        AddDefinition(this.new_definition);
        this.new_definition = {};
      }

    },
  })
  function get_word() {
    url = '{{SITE_URL}}api/word/{{word.id}}/'
    // Send the data using post
    var getting = $.get(url);
    // var posting = $.post(url, { message: message });

    // Put the results in a div
    getting.done(function (data) {
      word_app.word = (data.word);
      word_app.definitions = (data.definitions);
      // console.log(word_app.word);
      // console.log(word_app.definitions);        
    });

  }
  $(document).ready(function () {
    // Javascript method's body can be found in assets/js/demos.js
    csrfff = $("input[name='csrfmiddlewaretoken']").val()
    get_word();

  });









  $("#add_definition_form").submit(function (event) {

    word_app.new_definition = {
      with_links: word_app.new_definition.definition,
      word_id: word_app.word.id,
      profile: { name: '{{current_profile.name}}', image: '{{current_profile.get_image}}' }

    };
    word_app.definitions.push(word_app.new_definition);

    word_app.new_definition = {}
    // Stop form from submitting normally
    event.preventDefault();

    // Get some values from elements on the page:
    var $form = $(this),
      csrfmiddlewaretoken = $form.find("input[name='csrfmiddlewaretoken']").val(),

      word_id = $form.find("input[name='word_id']").val(),
      definition = $form.find("input[name='definition']").val(),
      url = $form.attr("action");
    csrfff = csrfmiddlewaretoken
    // Send the data using post
    var posting = $.post(url, { csrfmiddlewaretoken: csrfmiddlewaretoken, word_id: word_id, definition: definition });

    // Put the results in a div
    posting.done(function (data) {
      word_app.definitions = data.definitions;
    });
  });






</script>
{% endblock %}
{% block styles %}
<style>
  [v-cloak] {
    display: none
  }
</style>
{% endblock %}